# 다시 작성

save_dir/*
# # Model ckpt
# outputs/*
# trainer_logs/*

# results/*.csv
# nohup*

# attn_maps

# # IDE
# .vscode
# .idea

# # cached dataset
# *.arrow
# **/state.json
# **/dataset_dict.json
# **/dataset_info.json

__pycache__/

# # Jupyter Notebook
# .ipynb_checkpoints

# # Misc
# .DS_Store

# # logs
# wandb/
# lightning_logs/

# # Ignore vim files:
# *~
# *.swp
# *.swo
